.our-blog {
  position: relative;

  &:before {
    content: "";
    display: block;
    background-image: url(../image/our-product-features-before.png);
    width: 21px;
    height: 19px;
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translate(-50%);
  }

  &:after {
    content: "";
    border-bottom: 1px solid $our-product-features-after-color;
    position: absolute;
    top: 0;
    left: 50%;
    width: 515px;
    transform: translate(-50%);

    @media (max-width: 515px) {
      width: 100%;
    }
  }
  .our-blog-top-part {
    display: block;
    text-align: center;
    overflow: hidden;
    outline: none;

    @include head-styles;

    h5 {
        @media (max-width: 424px) {
        padding-top: 0;
      }
      }
  }
  .our-blog-middle-part {
    margin-bottom: 85px;

    .blog-block {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      margin-bottom: 50px;

      &.toggling {
        display: none;
        margin-top: 39px;
      }

      @media (max-width: 767px) {
        flex-wrap: wrap;
      }

      @media (max-width: 575px) {
        margin-left: 5px;
        margin-right: 5px;
      }

      @media (max-width: 511px) {
        flex-wrap: wrap;
        text-align: center;
      }

      &:hover {
        .blog-image-1,
        .blog-image-2 {
          opacity: 0.5;
        }
      }

      .blog-image-1,
      .blog-image-2 {
        width: 300px;
        height: 200px;

        @media (max-width: 424px) {
          background-position: -34px;
        }

        img {
          max-width: 100%;
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
      }

      .blog-content {
        padding-left: 29px;
        width: 49%;

        @media (max-width: 991px) {
          width: 95%;
        }

        @media (max-width: 767px) {
          width: 75%;
          justify-content: center;
          text-align: center;
          padding-left: 0;
        }

        @media (max-width: 511px) {
          margin-top: 20px;
        }

        h6 {
          color: $our-blog-bestseller-h6;
          font-family: "Raleway";
          font-size: 20px;
          font-weight: 600;
          line-height: 21px;
          margin-top: 0;
          margin-bottom: 13px;

          @media (max-width: 767px) {
          margin-top: 13px;
        }
        }

        .post-meta {
          i {
            color: $our-blog-bestseller-i;

            span {
              padding-left: 8px;
              padding-right: 22px;
              font-family: "Lato";
              font-size: 12px;
              font-weight: 400;
              line-height: 34px;

              @media (max-width: 424px) {
                padding-right: 2px;
              }
            }
          }
        }
        p {
          color: $our-blog-bestseller-p;
          font-family: "Lato";
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          text-align: justify;

          @media (max-width: 767px) {
            text-align: center;

            span {
              display: none;
            }
          }
          @media (max-width: 511px) {
            text-align: center;
          }
        }
        button {
          width: 120px;
          height: 40px;
          background-color: $our-blog-bestseller-h5;
          border-radius: 0;
          color: $our-blog-bestseller-button;
          font-family: "Lato";
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          margin-left: 1px;
          outline: none;
          box-shadow: none;
          border: none;

          &:hover {
            background-color: $our-blog-bestseller-span;
            color: $our-blog-bestseller-button;
          }
        }
      }
    }

    .toggler {
      width: 43px;
      height: 43px;
      margin: 0 auto;
      border-radius: 50%;
      background: #f2f2f2;
      position: relative;
      cursor: pointer;
      transition: 1.5s;

      &.active {
        transform: rotate(180deg);
      }

      .fa-chevron-down {
        text-align: center;
        display: block;
        color: #a2a2a2;
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
