footer {
  position: relative;
  background-color: $footer-bg-color;
  position: relative;

  a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  p {
    color: $footer-p-color;
    font-family: "MyriadProRegular";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    display: flex;
    justify-content: flex-end;
    padding: 34px 45px 34px 0;
    margin: 0;

    @media (max-width: 575px) {
      margin: 0;
      padding: 34px 5px 34px 0;
    }

    @media (max-width: 424px) {
      margin: 0;
      padding: 78px 5px 0 0;
    }
  }
}
