header {
  background: $nav-background-color;

  @media (max-width: 991px) {
    position: fixed;
    z-index: 999;
    width: 100%;
    opacity: 0.9;
  }

  .logo-img-nav {
    position: relative;
    z-index: 5;
    margin-left: 9%;

    @media (max-width: 1199px) {
      margin-left: 3%;
    }

    @media (max-width: 991px) {
      margin-left: 0;
    }

    a.nav-link {
      padding: 0;

      img {
        position: absolute;
        top: -3px;
        left: 0;

        @media (max-width: 991px) {
          left: 50%;
          transform: translate(-50%);
        }

        @media (max-width: 424px) {
          width: 200px;
        }
      }
    }
  }

  .navbar {
    background: $nav-background-color;
    padding-left: 29%;

    @media (max-width: 991px) {
      padding-left: 0;
      position: relative;
      display: block;
      width: 100%;
      height: 60px;
    }

    .navbar-toggler {
      display: none;

      @media (max-width: 991px) {
        display: inline-block;
        background: #a4a4a4;
        padding-bottom: 6px;
        width: 45px;
        height: 35px;
        z-index: 1;
        border-radius: 15%;
        margin-top: 10px;
        margin-left: 10px;
      }

      @media (max-width: 575px) {
        margin-left: 10px;
      }

      @media (max-width: 424px) {
        width: 45px;
        height: 35px;
        padding: 0 0 4px 0px;
      }

      .navbar-toggler-icon {
        width: 25px;
        height: 2px;
        color: #08080c;
        display: block;
      }
    }

    ul {
      display: flex;
      margin: 0;

      @media (max-width: 1199px) {
        padding-left: 0;
      }

      @media (max-width: 991px) {
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        position: absolute;
        flex-wrap: wrap;
        padding-top: 6%;
        background: #000;
        top: 60px;
      }

      @media (max-width: 575px) {
        padding-top: 12%;
      }

      @media (max-width: 424px) {
        width: 100%;
        top: 50px;
      }

      li {
        list-style: none;

        &.nav-item {
          position: relative;
          cursor: pointer;
          padding: 22px 10px;
          color: $nav-main-color;
          font-family: "Raleway";
          font-size: 18px;
          text-transform: uppercase;

          @media (max-width: 991px) {
            text-align: center;
            width: 100%;
          }

          @media (max-width: 575px) {
            padding: 10px 5px;
          }

          &:focus {
            outline: none;
          }
          &:hover {
            &:before {
              content: "";
              border-top: 2px solid $nav-a-hover-lines-colors;
              position: absolute;
              top: 0px;
              left: 40%;
              width: 28px;

              @media (max-width: 991px) {
                left: 50%;
                width: 121px;
                transform: translate(-50%);
              }

              @media (max-width: 575px) {
                left: 50%;
                width: 70%;
                transform: translate(-50%);
              }

              @media (max-width: 419px) {
                left: 50%;
                width: 100%;
                transform: translate(-50%);
              }
            }

            &:after {
              content: "";
              border-top: 2px solid $nav-a-hover-lines-colors;
              position: absolute;
              bottom: 0px;
              left: 40%;
              width: 28px;

              @media (max-width: 991px) {
                left: 50%;
                width: 121px;
                transform: translate(-50%);
              }

              @media (max-width: 575px) {
                left: 50%;
                width: 70%;
                transform: translate(-50%);
              }

              @media (max-width: 419px) {
                left: 50%;
                width: 100%;
                transform: translate(-50%);
              }
            }
          }
          .nav-link {
            color: $nav-main-color;
            text-decoration: none;

            @media (max-width: 1199px) {
              font-size: 16px;
            }

            &:focus {
              color: inherit;
              outline: none;

              &:before {
                content: "";
                border-top: 2px solid $nav-a-hover-lines-colors;
                position: absolute;
                top: 0px;
                left: 40%;
                width: 28px;

                @media (max-width: 991px) {
                  left: 284px;
                  width: 121px;
                }

                @media (max-width: 767px) {
                  left: 194px;
                  width: 121px;
                }

                @media (max-width: 575px) {
                  left: 212px;
                  width: 121px;
                }
              }

              &:after {
                content: "";
                border-top: 2px solid $nav-a-hover-lines-colors;
                position: absolute;
                bottom: 0px;
                left: 40%;
                width: 28px;

                @media (max-width: 991px) {
                  left: 284px;
                  width: 121px;
                }

                @media (max-width: 767px) {
                  left: 194px;
                  width: 121px;
                }

                @media (max-width: 575px) {
                  left: 212px;
                  width: 121px;
                }
              }
            }

            &:hover {
              color: $nav-hover-color;
            }
          }
        }
      }
    }
  }
}
