.container {
  padding: 0 15px;

  @media (min-width: 1200px) {
    width: 1170px;
    margin: 0 auto;
  }

  @media (max-width: 1199px) {
    width: 960px;
    margin: 0 auto;
  }

  @media (max-width: 991px) {
    width: 720px;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    width: 540px;
    margin: 0 auto;
  }

  @media (max-width: 575px) {
    width: 410px;
    margin: 0 auto;
  }

  @media (max-width: 424px) {
    width: 300px;
    margin: 0 auto;
  }
}
